CVS/
*~
#*#
*.o
*.a
*.so
*.exe
_ROOT_DICT_*
app/Spline.o*
app/Spline.e*
app/ND280Cov.o*
app/ND280Cov.e*
app/SplineSubmit.o*
app/SplineSubmit.e*
app/batchND280Cov.sh
app/batchSplinesData.sh
app/batchSplinesMagnet.sh
app/batchSplinesSand.sh
app/batch_files
make/Make.config
config.sh
cmt/*sh
cmt/Makefile
cmt/makefile
