CVS/
*~
#*#
*.o
*.a
*.so
*.exe
_ROOT_DICT_*
*.swp
*.d
src/*.swp
app/Spline.o*
app/Spline.e*
app/ND280Cov.o*
app/ND280Cov.e*
app/SplineSubmit.o*
app/SplineSubmit.e*
app/batchND280Cov.sh
app/batchSplinesData.sh
app/batchSplinesMagnet.sh
app/batchSplinesSand.sh
app/batch_files
make/Make.config
config.sh
cmt/*sh
./*/v*/cmt/Make*
./*/v*/cmt/*sh
./*/v*/Linux-x86_64
./*/*/v*/cmt/Make*
./*/*/v*/cmt/*sh
./*/*/v*/Linux-x86_64

nd280Psyche/v3r26/Linux-x86_64/
nd280Psyche/v3r26/cmt/Makefile
nd280Psyche/v3r26/cmt/cleanup.csh
nd280Psyche/v3r26/cmt/cleanup.sh
nd280Psyche/v3r26/cmt/setup.csh
nd280Psyche/v3r26/cmt/setup.sh
psyche/psycheCore/v3r22/Linux-x86_64/
psyche/psycheCore/v3r22/cmt/Makefile
psyche/psycheCore/v3r22/cmt/cleanup.csh
psyche/psycheCore/v3r22/cmt/cleanup.sh
psyche/psycheCore/v3r22/cmt/setup.csh
psyche/psycheCore/v3r22/cmt/setup.sh
psyche/psycheCore/v3r22/dict/
psyche/psycheEventModel/v3r22/Linux-x86_64/
psyche/psycheEventModel/v3r22/cmt/Makefile
psyche/psycheEventModel/v3r22/cmt/cleanup.csh
psyche/psycheEventModel/v3r22/cmt/cleanup.sh
psyche/psycheEventModel/v3r22/cmt/setup.csh
psyche/psycheEventModel/v3r22/cmt/setup.sh
psyche/psycheEventModel/v3r22/dict/
psyche/psycheIO/v3r18/Linux-x86_64/
psyche/psycheIO/v3r18/cmt/Makefile
psyche/psycheIO/v3r18/cmt/cleanup.csh
psyche/psycheIO/v3r18/cmt/cleanup.sh
psyche/psycheIO/v3r18/cmt/setup.csh
psyche/psycheIO/v3r18/cmt/setup.sh
psyche/psycheND280Utils/v3r24/Linux-x86_64/
psyche/psycheND280Utils/v3r24/cmt/Makefile
psyche/psycheND280Utils/v3r24/cmt/cleanup.csh
psyche/psycheND280Utils/v3r24/cmt/cleanup.sh
psyche/psycheND280Utils/v3r24/cmt/setup.csh
psyche/psycheND280Utils/v3r24/cmt/setup.sh
psyche/psycheND280Utils/v3r24/dict/
psyche/psychePolicy/v3r2/Linux-x86_64/
psyche/psychePolicy/v3r2/cmt/Makefile
psyche/psychePolicy/v3r2/cmt/cleanup.csh
psyche/psychePolicy/v3r2/cmt/cleanup.sh
psyche/psychePolicy/v3r2/cmt/setup.csh
psyche/psychePolicy/v3r2/cmt/setup.sh
psyche/psycheSelections/v3r28/Linux-x86_64/
psyche/psycheSelections/v3r28/cmt/Makefile
psyche/psycheSelections/v3r28/cmt/cleanup.csh
psyche/psycheSelections/v3r28/cmt/cleanup.sh
psyche/psycheSelections/v3r28/cmt/setup.csh
psyche/psycheSelections/v3r28/cmt/setup.sh
psyche/psycheSteering/v3r18/Linux-x86_64/
psyche/psycheSteering/v3r18/cmt/Makefile
psyche/psycheSteering/v3r18/cmt/cleanup.csh
psyche/psycheSteering/v3r18/cmt/cleanup.sh
psyche/psycheSteering/v3r18/cmt/setup.csh
psyche/psycheSteering/v3r18/cmt/setup.sh
psyche/psycheSystematics/v3r24/Linux-x86_64/
psyche/psycheSystematics/v3r24/cmt/Makefile
psyche/psycheSystematics/v3r24/cmt/cleanup.csh
psyche/psycheSystematics/v3r24/cmt/cleanup.sh
psyche/psycheSystematics/v3r24/cmt/setup.csh
psyche/psycheSystematics/v3r24/cmt/setup.sh
psyche/psycheUtils/v3r22/Linux-x86_64/
psyche/psycheUtils/v3r22/cmt/Makefile
psyche/psycheUtils/v3r22/cmt/cleanup.csh
psyche/psycheUtils/v3r22/cmt/cleanup.sh
psyche/psycheUtils/v3r22/cmt/setup.csh
psyche/psycheUtils/v3r22/cmt/setup.sh

