*.a
*.d
*.exe
*.o
*.so
*.swp
*plots
*~
CMAKE
CMT
EXTERN
GSL
MYSQL
ROOT
nd280Policy
BANFF
T2KReWeight
rootlogon.C
macros/rootlogon.C
app/rootlogon.C
./*/*/v*/Linux-x86_64
./*/*/v*/cmt/*sh
./*/*/v*/cmt/Make*
./*/v*/Linux-x86_64
./*/v*/cmt/*sh
./*/v*/cmt/Make*
.syntastic*
CVS/
_ROOT_DICT_*
app/*pyc
app/*pyo
app/nohup.out
app/plots/
app/qsubmitter*201*
cmt/*sh
config.sh
dict/*
highland2/*Analysis/v*r*/Linux-x86_64/
highland2/*Analysis/v*r*/cmt/Makefile
highland2/*Analysis/v*r*/cmt/cleanup.csh
highland2/*Analysis/v*r*/cmt/cleanup.sh
highland2/*Analysis/v*r*/cmt/setup.csh
highland2/*Analysis/v*r*/cmt/setup.sh
highland2/*Analysis/v*r*/dict/
highland2/highland*/v*r*/Linux-x86_64/
highland2/highland*/v*r*/cmt/Makefile
highland2/highland*/v*r*/cmt/cleanup.csh
highland2/highland*/v*r*/cmt/cleanup.sh
highland2/highland*/v*r*/cmt/setup.csh
highland2/highland*/v*r*/cmt/setup.sh
highland2/highland*/v*r*/dict/
highland2/oaAnalysisReader/v*r*/Linux-x86_64/
highland2/oaAnalysisReader/v*r*/cmt/Makefile
highland2/oaAnalysisReader/v*r*/cmt/cleanup.csh
highland2/oaAnalysisReader/v*r*/cmt/cleanup.sh
highland2/oaAnalysisReader/v*r*/cmt/setup.csh
highland2/oaAnalysisReader/v*r*/cmt/setup.sh
highland2/oaAnalysisReader/v*r10/src/prod6B/oaAnalysisReaderProjectDict.cxx
highland2/oaAnalysisReader/v*r10/src/prod6B/oaAnalysisReaderProjectDict.h
highland2/oaAnalysisReader/v*r10/src/prod6B/oaAnalysisReaderProjectHeaders.h
macros/nohup.out
make/Make.config
nd280Highland2/v2r22/Linux-x86_64/
nd280Highland2/v2r22/cmt/Makefile
nd280Highland2/v2r22/cmt/cleanup.csh
nd280Highland2/v2r22/cmt/cleanup.sh
nd280Highland2/v2r22/cmt/setup.csh
nd280Highland2/v2r22/cmt/setup.sh
nd280Psyche/v*r*/Linux-x86_64/
nd280Psyche/v*r*/cmt/Makefile
nd280Psyche/v*r*/cmt/cleanup.csh
nd280Psyche/v*r*/cmt/cleanup.sh
nd280Psyche/v*r*/cmt/setup.csh
nd280Psyche/v*r*/cmt/setup.sh
psyche/psyche*/v*r*/Linux-x86_64/
psyche/psyche*/v*r*/cmt/Makefile
psyche/psyche*/v*r*/cmt/cleanup.csh
psyche/psyche*/v*r*/cmt/cleanup.sh
psyche/psyche*/v*r*/cmt/setup.csh
psyche/psyche*/v*r*/cmt/setup.sh
psyche/psyche*/v*r*/dict/
python2.7/*pyc
run_lists/*pyc
src/*.swp
src/make
go/bin
*dict.h
*dict.d
