Linux-x86_64
cmt/cleanup.csh
cmt/cleanup.sh
cmt/setup.csh
cmt/setup.sh
src/BANFF_version.h
cmt/Makefile
*~
srcDepricated
*Deprecated
*.root
inputs/*
BANFF.o*
BANFF.e*
.tramp*
*.pdf
amd64_linux26
sourceBANFF.sh
RunBANFF.sh
*.aux
*.log
processOutput.sh
AutoDict*_.cxx
AutoDict*__cxx.d
*.d
*.so